.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #0b0113; /* Light background */
  margin: 0;
  padding: 0;
}


.main-container {
  display: flex;
  justify-content: space-between; /* Aligns containers to left and right */
  align-items: flex-start; /* Aligns items to the top */
  padding: 20px; /* Space around the main container */
}

.contact-container {
  flex: 1; /* Allow this to take up available space */
  margin-right: 20px; /* Space between contact and FAQ */
}

.faq-container {
  flex: 1; /* Allow this to take up available space */
}

/* Your existing styles for form and FAQ can go here */

@media (max-width: 768px) {
  .main-container {
      flex-direction: column; /* Stack them vertically on smaller screens */
  }
}

